@use "../../../../../shared/styles/utils/variables" as *;

.categorySlider {
  overflow: hidden;
  width: 100vw;
  margin-left: calc((100% - 100vw) / 2);

  &__slider {
    display: flex;
    overflow-x: scroll;
    padding-left: 15px;
    gap: 50px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  @media only screen and (min-width: $breakpoint-md) {
    width: unset;
    margin-left: unset;

    &__slider {
      overflow-x: unset;
      padding-left: unset;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  @media only screen and (min-width: $breakpoint-lg) {
    &__slider {
      padding-inline: 50px;
    }
  }
}
