@use "../../../../../shared/styles/utils/colors" as *;
@use "../../../../../shared/styles/utils/variables" as *;

.ingredients {
  &__servings {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;

    &__icon {
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $secondary-color;
      border-radius: 50%;
    }
  }

  &__list {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  @media only screen and (min-width: $breakpoint-lg) {
    &__servings {
      justify-content: unset;
    }

    &__list {
      margin-top: 30px;
    }
  }
}
