@use "../../../../../shared/styles/utils/colors" as *;
@use "../../../../../shared/styles/utils/variables" as *;

.step {
  position: relative;
  margin-left: 50px;
  &::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: url(/icons/check-icon.svg) $accent-color no-repeat center;
    font-size: 10px;
    left: -50px;
  }

  @media only screen and (min-width: $breakpoint-xlg) {
    width: 800px;
  }
}
