@use "../../../styles/utils/colors" as *;

.header {
  display: flex;
  align-items: center;
  padding-inline: 15px;
  height: 60px;
  border-bottom: solid 1px $border-color;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  background-color: $primary-color;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;

    &__right {
      display: flex;
      align-items: center;
      gap: 20px;

      & img {
        cursor: pointer;
      }

      &__grouped {
        display: flex;
        gap: 20px;
      }

      &__divider {
        width: 1px;
        height: 60px;
        background-color: $border-color;
      }
    }
  }
}
