@use "../../../../../shared/styles/utils/colors" as *;
@use "../../../../../shared/styles/utils/variables" as *;

.featuredCard {
  &__heading {
    display: flex;
    gap: 15px;
    margin-bottom: 16px;

    &__count {
      border-right: solid 1px rgba($text-color, $alpha: 0.2);
      padding-right: 15px;
      text-align: center;

      & span {
        font-size: 12px;
        white-space: nowrap;
      }
    }
  }

  &__image {
    width: 100%;
    height: 230px;
    position: relative;
    margin-top: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    &__img {
      width: 100%;
      height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
    & button {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }

  @media only screen and (min-width: $breakpoint-md) {
    &__image {
      height: 350px;
    }
  }

  @media only screen and (min-width: $breakpoint-lg) {
    &__heading {
      width: 480px;
    }
  }

  @media only screen and (min-width: $breakpoint-xlg) {
    &__image {
      width: 534px !important;
    }
  }
}
