@use "../../../../shared/styles/utils/variables" as *;

.homePage {
  display: flex;
  flex-direction: column;
  gap: 150px;

  & button:nth-child(3) {
    margin: 30px auto 0 auto;
  }

  @media only screen and (min-width: $breakpoint-xlg) {
    gap: 200px;
  }
}
