@use "../../../../../shared/styles/utils/colors" as *;

.tab {
  border-radius: 50px;
  border: solid 1px $border-color;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  font-size: 12px;
  font-weight: bolder;

  &:hover {
    background-color: $secondary-color;
  }
}
