@use "../../../../../shared/styles/utils/variables" as *;

.searchSuggestions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  & h1 {
    text-align: center;
    text-transform: capitalize;
  }
  &__tabs {
    display: flex;
    margin: 20px 0 10px 0;
    justify-content: center;
    gap: 5px;
  }

  @media only screen and (min-width: $breakpoint-lg) {
    & form {
      margin: 0 auto;
    }
  }
}
