@use "../../../../../shared/styles/utils/colors" as *;

.recipeSteps {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
  &::before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    background-color: $border-color;
    left: 15px;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $border-color;
    left: 13px;
    bottom: 0;
  }
}
