@use "../../../styles/utils/colors" as *;

.button {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bolder;
  border: solid $border-color 2px;
  white-space: nowrap;
  background-color: $secondary-color;
  gap: 10px;
  width: fit-content;
  letter-spacing: 2px;
  color: $text-color;
}
