@use "../../../../../shared/styles/utils/colors" as *;
@use "../../../../../shared/styles/utils/variables" as *;

.cardXL {
  &__image {
    height: 360px;
    position: relative;
    overflow: hidden;
    width: 100vw;
    margin-left: calc((100% - 100vw) / 2);

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__description {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    & h1 {
      text-transform: capitalize;
    }

    &__footer {
      display: flex;
      align-items: center;
      margin-top: 20px;
      justify-content: space-between;
      cursor: pointer;

      & p {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        text-decoration: underline;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  @media only screen and (min-width: $breakpoint-md) {
    display: flex;
    height: 500px;

    &__image {
      width: 100%;
      height: 500px;
      margin-left: 0;
    }

    &__description {
      width: 100%;
      background-color: $secondary-color;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
      padding: 0 15px;
    }
  }

  @media only screen and (min-width: $breakpoint-lg) {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;

    &__description {
      width: 70%;
    }
  }
}
