@use "../../../../../shared/styles/utils/variables" as *;

.roundedCard {
  width: fit-content;
  text-align: center;
  cursor: pointer;
  &__image {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;

    &:hover {
      filter: brightness(110%);
      transition: all 0.3s ease;
    }

    &:hover ~ .roundedCard__title {
      text-decoration: underline;
      transform: translateY(-5px);
      transition: transform 0.5s cubic-bezier(0.5, 0, 0.5, 1);
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    text-transform: uppercase;
    padding-top: 30px;
  }

  @media only screen and (min-width: $breakpoint-xlg) {
    &__image {
      width: 160px;
      height: 160px;
    }
  }
}
