.forgotPasswordPage {
  &__title {
    font-size: 38px;
    text-transform: uppercase;
    text-align: center;
    padding: 30px 0 60px 0;
  }

  &__info {
    text-align: center;
    padding-bottom: 50px;
  }

  > div {
    padding-bottom: 60px;
  }
}
